<%- include('partials/header') %>

<!-- 
<form action="/user/login" method="post">
    <label>Email:</label>
    <input type="email" required name="email">
    <br><br>
    <label>Password:</label>
    <input type="password"  required name="password">
    <br><br>
    <button type="submit">login</button>
</form> -->
 
<div class="container mt-5">
    <div class="row justify-content-center">
    <div class="parentdiv">
        <div class="lef">
            <h1>URL Shortner</h1>
            <p>Welcome to our Website, a sleek and efficient URL shortener designed to simplify your online experience. With the rapid pace of digital communication, long and cumbersome URLs can be a hassle to share and remember. Our platform offers a seamless solution, allowing you to quickly convert lengthy links into compact, easy-to-share URLs. Whether you're a marketer looking to optimize your campaigns, a social media enthusiast sharing content, or just someone who values simplicity, Our Website is here to streamline your links and enhance your online presence. Enjoy faster, cleaner, and more manageable URLs with just a few clicks.</p>
        </div>
            <div class="col-md-6 ms-auto ri">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Login</h3>
                    </div>
                    <center>
                        <h4 style="color: red;"><%=error%></h4>
                    </center>
                    <div class="card-body">
                        <form  action="/user/login" method="post">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" placeholder="Enter your email" name="email">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" placeholder="Enter your password" name="password">
                                <br>
                            </div>
                            <div class="inaline">
                                <a href="/signup"><small> <p>Dont have an Account? Sign Up</p></small> </a>
                            </div>
                                <center>
                                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                                </center>
                        </form>
                    </div>
                </div>
            </div>
    </div>
    </div>
</div>
<br><br>
<%- include('partials/footer') %>
